<form id="upload-form" action="/images" enctype="multipart/form-data" method="POST">
    <div>
        <label for='files'>Select files</label><br>
        <input id="image-input" type="file" name="files" multiple>
    </div>
    <br>
    <button class="btn" type='submit'>Upload</button>
</form>